a.nav-link(href="/nosotros", class=(ruta === "/nosotros" ? "active" : "")) Nosotros
a.nav-link(href="/viajes", class=(ruta.includes("/viajes") ? "active" : "")) Viajes
a.nav-link(href="/testimoniales", class=(ruta === "/testimoniales" ? "active" : "")) Testimoniales