extends ../layout/index
block content
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="Nosotros")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis erat vel ultricies tristique. Ut nisi erat, ultrices in dui eu, posuere viverra felis. Quisque posuere purus vitae justo cursus tincidunt. Praesent blandit quam ac eros luctus iaculis. Nullam ullamcorper non velit vehicula tincidunt. 
                p Aliquam vel porttitor dui. Praesent accumsan ultrices ligula, at luctus nisi lobortis id. Vivamus aliquam, lacus id porta dapibus, est mi vulputate augue, quis rhoncus nulla ipsum ac leo. Etiam vel placerat eros, ut congue libero. Pellentesque sed lectus et magna rutrum laoreet.
                p Nam mi ante, commodo laoreet sodales in, dapibus ac leo. Vestibulum posuere, tortor eu accumsan ultrices, augue nibh facilisis metus, nec dapibus augue erat nec felis. Morbi posuere ipsum ante, non pretium sem porttitor ut. Phasellus rhoncus dapibus leo lobortis volutpat. Nunc facilisis ullamcorper sem, at viverra urna vulputate nec. Suspendisse ut varius mi.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img.img-fluid.mb-4(src="img/icono_seguridad.svg", alt="")
                    h2.mb-4 Seguridad
                    p Mauris auctor laoreet consequat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque sed metus at quam sodales sollicitudin.
                .col-md-4
                    img.img-fluid.mb-4(src="img/icono_destinos.svg", alt="")
                    h2.mb-4 Mejores Destinos
                    p Mauris auctor laoreet consequat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque sed metus at quam sodales sollicitudin.
                .col-md-4
                    img.img-fluid.mb-4(src="img/icono_precios.svg", alt="")
                    h2.mb-4 Mejor Precio
                    p Mauris auctor laoreet consequat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque sed metus at quam sodales sollicitudin.